body {
  font-family: Arial;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  height: 25px;
  border-radius: 5px;
  margin-right: 10px;
}
.logo-name {
  margin: 0;
}
.avatar {
  align-items: center;
  display: flex;
}
.avatar-image {
  height: 25px;
}
.link-icon {
  height: 16px;
  margin-right: 9px;
}
.menu-search {
  padding-top: 15px;
}
.menu-search p {
  margin: 5px 0
}
.menu-search a {
  text-decoration: none;
  color: #717171;
  padding-top: 6px;
  padding-bottom: 8px;
  border-radius: 6px;
  padding-left: 10px;
  margin-left: -10px;
  display: block;
  width: 100%;
}
.menu-search a:hover {
  background-color: lightgray;
}
.menu-search a.active {
  background: #4059f2;
  color: #f1f2f3;
}
.menu-search p:nth-child(6) a {
  color: #3a4ab4;
  font-weight: bold;
}
.menu-mid {
  padding-top: 2px;
}
.menu-mid a {
  text-decoration: none;
  color: black;
}
.menu-mid p:first-child a {
  color: #717171;
}
.menu-group {
  padding-top: 2px;
}
.menu-group a {
  text-decoration: none;
  color: black;
}
.menu-group p:first-child a {
  color: #717171;
}
.menu-group p:nth-child(5) a {
  color: #717171;
}

.together {
  width: 100%;
  display: flex;
}
.all-menu {
  display: inline-block;
  width: 15%;
  padding: 20px 30px 20px 20px;
  border-right: 1px solid lightgrey;
  margin-right: 30px;
}
.customers {
  padding-top: 22px;
  color: black;
  margin-bottom: 14px;
}
.menu-customers {
  display: inline-block;
  width: 50%;
}
h3 {
  margin: 0;
}

.people-customers {
  justify-content: space-between;
  margin-left: 11px;
  width: 707px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}
.people-customers p {
  margin: 9px;
  color: #999;
}
.tab {
  display: inline-flex;
  justify-content: space-between;
  width: 84px;
  height: 35px;
  font-size: 17px;
  margin-right: 50px;
  padding-bottom: 15px;
}
.tab.active {
  border-bottom: 2px solid #4059f2;
}
.tab.active p {
  color: black;
}
.tab-number {
  background: #f1f1f1;
  color: #9da2a7;
  border-radius: 6px;
}
.name-button {
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  padding: 2px 7px;
  margin-left: 10px;
  display: none;
}
tr:hover .name-button {
  display: inline;
}
.people p {
  margin-left: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 1000px;
  padding-top: 26px;
  padding-left: 15px;
}

th,
td {
  text-align: left;
  color: black;
  padding: 4px;
}
th {
  color: #9da2a7;
}
tr:hover {
  background-color: #e6e6e6;
  border-radius: 3px;
}

tr td:first-child { border-top-left-radius: 3px; }
tr td:last-child { border-top-right-radius: 3px; }

tr td:first-child { border-bottom-left-radius: 3px; }
tr td:last-child { border-bottom-right-radius: 3px; }