body {
  font-family: Arial;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  height: 25px;
  border-radius: 5px;
  margin-right: 10px;
}
.logo-name {
  margin: 0
}
.avatar {
  align-items: center;
  display: flex;
}
.avatar-image {
  height: 25px;
}
.menu {
  padding-bottom: 1px;
}
.menu-mid {
  padding-bottom: 1px;
}
.together {
  width: 100%;
  display: flex;
}
.all-menu {
  display: inline-block;
  width: 15%;
  padding: 20px 50px 20px 20px;
}
.menu-customers {
  display: inline-block;
  width: 50%;
}
.people {
  justify-content: center;
  display: inline-flex;
}
.people p {
  margin-left: 10px;
}
.table tr th {
  text-align: left;
}
.table {
  width: 32%;
  padding-top: 26px;
}
